/* ===========================
-------Media Queries----------
================================ */
/* ------Mobile------- */

@media only screen and (max-width: 768px) {
    #home{
        height: 100vh;
    }
   
    .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
    .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .wrapper, .item{
      width: 100%;
  }
  #skillset{
      flex-flow: column wrap;
  }
  .flex-point, .skill-bar{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.flex-point{
    flex-flow: column wrap;
    align-items: center;
}
.project{
    position: relative;
    width: 100%;
    overflow: visible;
    height: auto;
    box-sizing: border-box;
}.projects img{
    width: 100%;
}
.odd, .even{
    top:0;
    left: 0;
}
.contact{
    padding: 20px;
}
.contact img{
    width: auto;
}

.center{
    position:unset;
    box-sizing: border-box;
}
.myImage{
    padding: 0;
    width: 100%;
    height: auto;
}
.skills img{
    width: 12%;
}
.display{
    position: unset;
font-size: 25px;
padding: 40% 15% ;
vertical-align: middle;
}
.flex-point .item{
    width: 70%;
    
}
.myProgress span{
    font-size: 14px;
}
.flex-point .item img{
    width: 30%;
    height: auto;
} 
.about article{
    margin: 50px 20px;
}
.contact p{
    text-align: justify;
}
}



/* -----Tablet------ */
@media only screen and (min-width:769px) and (max-width: 1024px) {
   
    .wrapper{
       width: 100%;
   }
   .projects img{
       width: 100%;
   }
   header, footer{
       width: 100%;
   }
   .about{
       box-sizing: border-box;
   }
   #home{
       height: 100vh;
   }
   #skillset, .about{
       text-align: center;
        justify-content: center;
        
   }
   .flex-point, .item{
       width: 80%;
   }
   .contact img{
       width: 50px;
   }
   

}